.topbar
	.fill
		.container
			%a.brand(href='/') Questionnaire
			%ul.nav
				%li.active
					%a(href='/') Home
			= form_for :question, :html => { :class => 'pull-right' } do |form|
				= form.text_field :body, :placeholder => 'Ask a question'
				%button.btn(type='submit') Ask
			
.container
	.content
		.page-header
			%h1
				Last questions
				%small asked
		.row
			.span8
				%h1 Open questions
				- @open_questions.each do |q|
					= render :partial => 'question', :locals => {:question => q}

			.span8
				%h1 Closed questions
				- @closed_questions.each do |q|
					= render :partial => 'question', :locals => {:question => q}
					
	%footer
		%p &copy; made for testing purposes only